name: Sync to Mirror
on:
  push:
    branches:
      - main  # or whichever branch you want to sync

jobs:
  git-mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Push to Mirror
        run: |
          git remote add mirror https://x-access-token:${{ secrets.SYNC_TOKEN }}@github.com/Nisarr/AmarBallot.git
          git push --force --mirror mirror
